@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 class="d-flex justify-content-center">List of Movies</h1>
<table class="table table-striped">
    <thead>
    <th>#</th>
    <th>Movie Name</th>
    <th>Price</th>
    <th>Schedule</th>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Gotoboun no Hanayome</td>
            <td>$6</td>
            <td>April 6, 2023</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Kimetsu no Yabaii</td>
            <td>$5</td>
            <td>April 20, 2023</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Domestic Girlfriend</td>
            <td>$2</td>
            <td>April 8, 2023</td>
        </tr>
    </tbody>
</table>
