@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 class="d-flex justify-content-center">List of Employee</h1>
<table class="table">
    <thead>
        <th>#</th>
        <th>First</th>
        <th>Last</th>
        <th>Sallary</th>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Toshi</td>
            <td>Wada</td>
            <td>$1500</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Mark</td>
            <td>Alcantara</td>
            <td>$4523</td>
        </tr>
        <tr>
            <td>3</td>
            <td>James</td>
            <td>Paala</td>
            <td>$2600</td>
        </tr>
    </tbody>
</table>
